.back-button {
    padding: 8px 16px;
    border-radius: 8px;
    background: #F7D6E0; /* Set background to #F7D6E0 */
    color: #343a40; /* Text color */
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .back-button:hover {
    background: #F7D6E0; /* Maintain the same color on hover */
    color: white; /* Change text color to white on hover */
  }  