.back-button {
    padding: 8px 16px;
    border-radius: 8px;
    background: #f8f9fa;
    border: 1px solid #343a40;
    color: #343a40;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .back-button:hover {
    background: #F7D6E0;
    color: white;
  }  